<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "produtosAdmin.css"], titulo: "Produtos Admin | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Produtos</h1>
      <div class="busca-container">
        <form>
          <label for="busca-cliente">Busca Produto</label>
          <div>
            <input
              type="text"
              name="busca-produto"
              id="busca-produto"
              placeholder="Digite o nome do produto"
            />
            <button type="submit">
              <img src="/img/pesquisar.png" alt="Pesquisar" />
              Pesquisar
            </button>
          </div>
        </form>

        <a href="/admin/produtos/criar" class="botao-secundario"
          >Adicionar Produto</a
        >
      </div>

      <% if(feedbackDelete !== undefined){ %>
        <div class="<%= feedbackDelete == 'true' ? 'sucesso' : 'erros' %>">
          <%= feedbackDelete == 'true' ? 'Produto deletado com sucesso' : 'Erro ao deletar o produto' %>
        </div>
      <% } %>

      <table>
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Produto</th>
            <th>ID</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% for(let produto of produtos){ %>
          <tr>
            <td>
              <div class="img-produto-container">
                <img src="<%= produto.img[0] %>" alt="<%= produto.nome %>" />
              </div>
            </td>
            <td>
              <a href="/produtos/<%= produto.slug %>"> <%= produto.nome %> </a>
            </td>
            <td><%= produto.id %></td>
            <td><%= produto.categoria %></td>
            <td><%= produto.preco.toLocaleString('pt-BR', {style: 'currency',
              currency: 'BRL'}) %></td>
            <td class="acoes-container">
              <a
                class="botao-secundario"
                href="/admin/produtos/<%= produto.id %>/editar"
              >
                <img src="/img/editar.svg" alt="del" />
              </a>
              <form action="/admin/produtos/<%= produto.id %>/delete?_method=DELETE" method="POST">
                <button><img src="/img/remover.svg" alt="del" type="submit" /></button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
