<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css"], titulo: "Clientes Admin | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Clientes</h1>
      <form class="clientes-form-container">
        <label for="busca-cliente">Buscar por cliente</label>
        <div>
          <input
            type="text"
            name="busca-cliente"
            id="busca-cliente"
            placeholder="Digite o nome do cliente"
          />
          <button type="submit">
            <img src="/img/pesquisar.png" alt="Pesquisar" />
            Pesquisar
          </button>
        </div>
      </form>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>E-mail cliente</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <% for(let cliente of clientes) { %>
            <tr>
              <td><%= cliente.id %></td>
              <td><%= cliente.nome %></td>
              <td><%= cliente.email %></td>
              <td>
                <a class="botao-secundario" href="/admin/pedidos/usuarios/<%= cliente.id %>"> Ver pedidos </a>
              </td>
            </tr>
           <% } %> 
        </tbody>
      </table>
    </main>
  </body>
</html>
