<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "adminAddProduto.css", "adminAddUsuario.css"], titulo: "Editar Usuario | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Criar Usuário</h1>
      <a href="/admin/usuarios" class="retornar-pagina">
        <img src="/img/voltar.svg" />
        Voltar para usuários
      </a>

      <div class="header-produto">
        <h2>Dados do Usuário</h2>
      </div>

      <% if(locals.feedbackEdicao !== undefined){ %>

        <div class="<%= locals.feedbackEdicao == 'true' ? 'sucesso' : 'erros' %>">
          <%= locals.feedbackEdicao == 'true' ? 'Usuário salvo' : 'Erro ao salvar usuário, tente novamente mais tarde' %>
        </div>

      <% } %>

      <form action="/admin/usuarios/criar" method="POST" id="novo-produto-form">
        <div class="duas-colunas add-usuario">
          <div>
            <label for="nome">Nome do Usuário</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Nome do usuário"
              value="<%= locals.infoPassada && locals.infoPassada.nome %>"
              required
            />
            <p class="erro-valor" id="erro-nome"></p>

            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Novo produto"
              value="<%= locals.infoPassada && locals.infoPassada.email %>"
              required
            />

            <% if (locals.uniqueEmailError) { %>
              <p class="erro-valor">Email já cadastrado</p>
            <% } %>
            <p class="erro-valor" id="erro-email"></p>
          </div>


          <div>
            
            <label for="senha">Nova Senha</label>
            <input
              type="password"
              name="senha"
              id="senha"
              placeholder="Adiciona nova senha"
              required
            />
            <p class="erro-valor" id="erro-senha"></p>
            
            <label for="confirma-senha">Confirmar nova senha</label>
            <input
              type="password"
              name="confirma-senha"
              id="confirmaSenha"
              placeholder="Confirme a nova senha"
              required
            />
            <p class="erro-valor" id="erro-confirma-senha"></p>
        </div>
        </div>
        <button class="botao-secundario" type="submit" form="novo-produto-form">Salvar</button>
      </form>
    </main>
    <script src="/scripts/adminAddUsuario.js"></script>
  </body>
</html>
