<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css", "pedidosAdmin.css"],
  titulo: "Pedidos Admin | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Pedidos</h1>
      <form class="pedidos-form-container">
        <!-- <label for="data-inicial">
          Data inicial
          <input
            class="data-seletor"
            type="date"
            name="data-inicial"
            id="data-inicial"
          />
        </label>
        <label for="data-final">
          Data final
          <input
            class="data-seletor"
            type="date"
            name="data-final"
            id="data-final"
          />
        </label>
        <button type="submit">
          <img src="/img/pesquisar.png" alt="Pesquisar" />
          Pesquisar
        </button> -->
      </form>
      <% if(locals.feedbackEdicao !== undefined){ %>
        <div class="<%= locals.feedbackEdicao == 'true' ? 'sucesso' : 'erros' %>">
          <%= locals.feedbackEdicao == 'true' ? 'Pedido atualizado' : 'Erro ao atualizar pedido' %>
        </div>
      <% } %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>E-mail cliente</th>
            <th>Status</th>
            <% if(locals.showAcoes){ %>
            <th>Ações</th>
            <% } %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% locals.pedidos.forEach(pedido => { %>
            <tr>
              <td><%= pedido.id %></td>
              <td>
                <% const data = new Date(pedido.createdAt) %>
                <% const dia = data.getDate() %>
                <% const mes = data.getMonth() %>
                <% const ano = data.getFullYear() %>
                <% const diaFormatado = dia < 10 ? `0${dia}` : dia  %>
                <% const mesFormatado = mes < 10 ? `0${mes}` : mes  %>
                <%= `${diaFormatado}/${mesFormatado}/${ano}`  %>
                </td>
              <td><%= pedido.clientes.nome %></td>
              <td><%= pedido.clientes.email %></td>
              <td><%= pedido.status %></td>

              <% if(locals.showAcoes){ %>
              <td class="mudar-status-container">
                <form action="/admin/pedidos/alterar-status/<%= pedido.id %>?_method=PUT" method="POST" class="mudar-status">
                  <select name="status">
                    <option disabled selected>Alterar Status</option>
                    <% locals.statusPedidos.forEach(status => { %>
                      <option value="<%=status.status %>"><%=status.status %></option>
                      <% }); %>
                    </select>
                    <button>Salvar</button>
                  </form>
                </td>
               <% } %>
                <td>
                  <a class="ver-mais-pedidos" href="/admin/pedidos/<%=pedido.id %><%=locals.clientePedidos && `?cliente=true`%>">Ver mais</a>
                </td> 
              </tr>
            <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
