<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "adminAddProduto.css"], titulo: "Editar Produto | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Editar <%= produto.nome %></h1>
      <a href="/admin/produtos" class="retornar-pagina">
        <img src="/img/voltar.svg" />
        Voltar para produtos
      </a>

      <div class="header-produto">
        <h2>Dados do produto</h2>
      </div>

      <% if(feedbackEdicao !== undefined){ %>

        <div class="<%= feedbackEdicao == 'true' ? 'sucesso' : 'erros' %>">
          <%= feedbackEdicao == 'true' ? 'Produto salvo' : 'Erro ao salvar o produto, tente novamente mais tarde' %>
        </div>

      <% } %>

      <form action="/admin/produtos/<%= produto.id %>/editar?_method=PUT" method="POST" id="novo-produto-form" enctype="multipart/form-data">
        <div class="duas-colunas">
          <div>
            <label for="nome">Nome do Produto</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Novo produto"
              value="<%= produto.nome %>"
            />

          <label>Medidas (em cm)</label>
          <div class="medidas-container">
            <div>
              <label>Largura</label>
                <input
                  type="text"
                  name="largura"
                  id="largura"
                  placeholder="90"
                  value="<%= produto.medidas.largura %>"
                />
            </div>

            <div>
              <label>Comprimento</label>
                <input
                  type="text"
                  name="comprimento"
                  id="comprimento"
                  placeholder="90"
                  value="<%= produto.medidas.comprimento %>"
                />
            </div>

            <div>
              <label>Altura</label>
                <input
                  type="text"
                  name="altura"
                  id="altura"
                  placeholder="90"
                  value="<%= produto.medidas.altura %>"
                />
            </div>

          </div>

            <label for="descricao">Descrição</label>
            <textarea
              name="descricao"
              id="descricao"
              placeholder="Descreva seu produto"
            ><%= produto.descricao %></textarea>

            <label for="preco">Preço</label>
            <input
              type="text"
              name="preco"
              id="preco"
              placeholder="200,00"
              value="<%= produto.preco %>"
            />
          </div>

          <div>
            <div class="imagem-container">
              <img id="preview-img" src="<%= produto.img[0] %>" />
            </div>
            <label class="imagem-produto-btn" for="img"
              >Selecionar imagens do produto</label
            >
            <input type="file" name="img" id="img" id="imagem-produto" />
            <label>Selecione a Categoria do produto</label>
            <select name="categoria">
              <option disabled>Selecione uma categoria</option>
              <% for(let categoria of categorias){ %>
                <option value="<%= categoria.slug %>"
                  <%= produto.categoria == categoria.slug ? "selected" : null %>>
                  <%= categoria.nome %>
                </option>
              <% } %>
            </select>
            <label>Selecione a Área do produto</label>
            <select name="area">
              <option disabled>Selecione uma área</option>
              <option value="interna" <%= produto.area == "interna" ? "selected" : null %> >Área Interna</option>
              <option value="externa" <%= produto.area == "externa" ? "selected" : null %>>Área Externa</option>
            </select>
          </div>
        </div>
      </form>

      
      <div class="container-botoes">
        <button class="botao-secundario" type="submit" form="novo-produto-form">Salvar</button>
        <form action="/admin/produtos/<%= produto.id %>/delete?_method=DELETE" method="POST" id="delete-form">
            <button class="botao-secundario apagar" id="delete-btn" type="submit">Apagar produto</button>
        </form>
      </div>
    </main>
    <script src="/scripts/adminProduto.js"></script>
  </body>
</html>
