<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "adminAddProduto.css"], titulo: "Editar Produto | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Editar <%= produto.nome %></h1>
      <a href="/admin/produtos" class="retornar-pagina">
        <img src="/img/voltar.svg" />
        Voltar para produtos
      </a>

      <div class="header-produto">
        <h2>Dados do produto</h2>
      </div>

      <form action="/admin/produtos/<%= produto.id %>/editar?_method=PUT" method="POST" id="novo-produto-form">
        <div class="duas-colunas">
          <div>
            <label for="nome">Nome do Produto</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Novo produto"
              value="<%= produto.nome %>"
            />

            <label for="medidas">Medidas (L x P x A)</label>
            <input
              type="text"
              name="medidas"
              id="medidas"
              placeholder="00 x 00 x 00"
              value="90 x 90 x 90"
            />

            <label for="descricao">Descrição</label>
            <textarea
              name="descricao"
              id="descricao"
              placeholder="Descreva seu produto"
            ><%= produto.descricao %></textarea>

            <label for="preco">Preço</label>
            <input
              type="text"
              name="preco"
              id="preco"
              placeholder="200,00"
              value="<%= produto.preco %>"
            />
          </div>

          <div>
            <div class="imagem-container">
              <img src="<%= produto.img[0] %>" />
            </div>
            <label class="imagem-produto-btn" for="imagem-produto"
              >Selecionar imagens do produto</label
            >
            <input type="file" name="imagem-produto" id="imagem-produto" />
            <label>Selecione a Categoria do produto</label>
            <select name="categoria">
              <option disabled>Selecione uma categoria</option>
              <% for(let categoria of categorias){ %>
                <option value="<%= categoria.nome %>"
                  <%= produto.categoria == categoria.nome ? "selected" : null %>>
                  <%= categoria.nome %>
                </option>
              <% } %>
            </select>
          </div>
        </div>
      </form>

      
      <div class="container-botoes">
        <button class="botao-secundario" type="submit" form="novo-produto-form">Salvar</button>
        <form action="/admin/produtos/<%= produto.id %>/delete?_method=DELETE" method="POST" id="delete-form">
            <button class="botao-secundario apagar" id="delete-btn" type="submit">Apagar produto</button>
        </form>
      </div>
    </main>
    <script src="/scripts/adminProduto.js"></script>
  </body>
</html>
