<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "adminAddProduto.css", "deleteModal.css"], titulo: "Editar Categoria | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Editar <%= categoria.nome %></h1>
      <a href="/admin/categorias" class="retornar-pagina">
        <img src="/img/voltar.svg" />
        Voltar para categorias
      </a>

      <div class="header-produto">
        <h2>Dados da Categoria</h2>
      </div>

      <% if(feedbackEdicao !== undefined){ %>

        <div class="<%= feedbackEdicao == 'true' ? 'sucesso' : 'erros' %>">
          <%= feedbackEdicao == 'true' ? 'Categoria salva' : 'Erro ao salvar a categoria, tente novamente mais tarde' %>
        </div>

      <% } %>

      <form action="/admin/categorias/<%= categoria.id %>/editar?_method=PUT" method="POST" id="novo-produto-form" enctype="multipart/form-data">
        <div class="duas-colunas">
          <div>
            <label for="nome">Nome da Categoria</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Novo produto"
              value="<%= categoria.nome %>"
            />

            <label for="descricao">Descrição</label>
            <textarea
              name="descricao"
              id="descricao"
              placeholder="Descreva sua categoria"
            ><%= categoria.descricao %></textarea>
          </div>

          <div>
            <div class="imagem-container">
              <img id="preview-img" src="<%= categoria.caminho %>" />
            </div>
            <label class="imagem-produto-btn" for="img"
              >Selecionar ícone da categoria</label
            >
            <input type="file" name="img" id="img" id="imagem-produto" />
          </div>
        </div>
      </form>

      
      <div class="container-botoes">
        <button class="botao-secundario" type="submit" form="novo-produto-form">Salvar</button>
        <button class='delete-btn botao-secundario'>
          Remover
        </button>
        <%- include("partials/deleteModal", {
          action: `/admin/categorias/${categoria.id}/delete?_method=DELETE`}) 
        %>
      </div>
    </main>
    <script src="/scripts/adminProduto.js"></script>
    <script src="/scripts/deleteModal.js"></script>
  </body>
</html>
