<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/adminHead", {css: ["baseAdmin.css",
  "adminAddProduto.css", "deleteModal.css"], titulo: "Editar Produto | E-móvel"}) %>
  <body class="admin-container">
    <%- include("partials/adminHeader") %>
    <%- include("partials/topoPg") %>
    <main class="">
      <h1>Editar <%= produto.nome %></h1>
      <a href="/admin/produtos" class="retornar-pagina">
        <img src="/img/voltar.svg" />
        Voltar para produtos
      </a>

      <div class="header-produto">
        <h2>Dados do produto</h2>
      </div>

      <% if(feedbackEdicao !== undefined){ %>

        <div class="<%= feedbackEdicao == 'true' ? 'sucesso' : 'erros' %>">
          <%= feedbackEdicao == 'true' ? 'Produto salvo' : 'Erro ao salvar o produto, tente novamente mais tarde' %>
        </div>

      <% } %>

      <form action="/admin/produtos/<%= produto.id %>/editar?_method=PUT" method="POST" id="novo-produto-form" enctype="multipart/form-data">
        <div class="duas-colunas">
          <div>
            <label for="nome">Nome do Produto</label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Novo produto"
              value="<%= produto.nome %>"
            />

          <label>Medidas (em cm)</label>
          <div class="medidas-container">
            <div>
              <label>Largura</label>
                <input
                  type="text"
                  name="largura"
                  id="largura"
                  placeholder="90"
                  value="<%= produto.largura %>"
                />
            </div>

            <div>
              <label>profundidade</label>
                <input
                  type="text"
                  name="profundidade"
                  id="profundidade"
                  placeholder="90"
                  value="<%= produto.profundidade %>"
                />
            </div>

            <div>
              <label>Altura</label>
                <input
                  type="text"
                  name="altura"
                  id="altura"
                  placeholder="90"
                  value="<%= produto.altura %>"
                />
            </div>
            <div>
              <label for="peso">Peso (em kg)</label>
              <input type="text" name="peso" id="peso" placeholder="80" value="<%= locals.produto && locals.produto.peso ? locals.produto.peso : '' %>"/>
              <% if (locals.erros && locals.erros.peso) { %>
              <p class="erro-valor"><%= erros.peso.msg %></p>
              <% } %>
            </div>

          </div>

            <label for="descricao">Descrição</label>
            <textarea
              name="descricao"
              id="descricao"
              placeholder="Descreva seu produto"
            ><%- produto.descricao %></textarea>

            <label for="preco">Preço</label>
            <input
              type="text"
              name="preco"
              id="preco"
              placeholder="200,00"
              value="<%= produto.preco %>"
            />
          </div>

          <div>
            <div class="imagem-container">
              <img id="preview-img" src="<%= produto.imagens[0].caminho  %>" />
            </div>
            <label class="imagem-produto-btn" for="img"
              >Selecionar imagens do produto</label
            >
            <input type="file" name="img" id="img" id="imagem-produto" multiple />
            <div class="imgs-produto">
              <% for(let img of produto.imagens){ %>
                <div class="miniatura-img-produto" data-img-id="<%= img.id %>">
                  <span class="remover-img" >X</span>
                  <img src="<%= img.caminho %>" />
                </div>
              <% } %>  
            </div>
            <label>Selecione a Categoria do produto</label>
            <select name="categorias_id">
              <option disabled>Selecione uma categoria</option>
              <% for(let categoria of categorias){ %>
                <option value="<%= categoria.id %>"
                  <%= categoria.id == produto.categorias_id ? "selected" : null %>>
                  <%= categoria.nome %>
                </option>
              <% } %>
            </select>
            <label>Selecione a Área do produto</label>
            <select name="areas_id">
              <option disabled>Selecione uma área</option>
              <option value="1" <%= produto.area == "1" ? "selected" : null %> >Área Interna</option>
              <option value="2" <%= produto.area == "2" ? "selected" : null %>>Área Externa</option>
            </select>
          </div>
        </div>
      </form>

      
      <div class="container-botoes">
        <button class="botao-secundario" type="submit" form="novo-produto-form">Salvar</button>
        <button class='delete-btn botao-secundario'>
          Remover
        </button>
        <%- include("partials/deleteModal", {
          action: `/admin/produtos/${produto.id}/delete?_method=DELETE`}) 
        %>
      </div>
    </main>
    <script src="/scripts/adminProduto.js"></script>
    <script src="/scripts/deleteModal.js"></script>
  </body>
</html>
