<!DOCTYPE html>
<html lang="pt-br">
  <%- include("partials/head", {css: ["checkoutPagamento.css"], titulo: "checkout-pagamento_E-móvel"}) %>
    <script src="/scripts/pagamento.js"></script>

  <body>
    <%- include("partials/header") %>
    <%- include("partials/topoPg") %>
    <main>
      <h4>Checkout - Forma de Pagamento</h4>
      <a href="/checkoutDeEndereco" class="voltar-checkout"
        >Voltar para endereço</a
      >
      <div class="flex" id="container 1">
        <div class="coluna1">
          <form
            class="reservada"
            id="Form-Cartao"
            method="POST"
            action="/pedidos/criar?pagamento=<%= locals.pagamento.cartao %>&idEndereco=<%= locals.endereco %>"
            enctype=""
          >
            <div class="campos">
              <h3>Pagar com Pix</h3>
              <button class="botao-primario" type="submit">
                Ver dados para pagamento com pix
              </button>
              <h3>Pagar com Cartão de Crédito</h3>
              <div class="no-errors" id="div-errors">
                <ul></ul>
              </div>
              <label for="nome" class="label-nome">Nome no cartão</label>
              <input
                class="nome"
                type="text"
                name="nome"
                id="nome"
                placeholder="João da Silva"
                required
              />
              <label for="Numero">Número do cartão</label>
              <input
                class="Cartao"
                type="numeric"
                name="Numero"
                id="Numero"
                maxlength="15"
                placeholder="123456789123456"
                required
              />
              <div class="junto">
                <label for="mes"
                  >Mês
                  <input
                    class="vencimento"
                    type="numeric"
                    name="mes"
                    maxlength="2"
                    id="mes"
                    placeholder="01"
                    required
                  />
                </label>
                <label for="ano"
                  >Ano
                  <input
                    class="vencimento"
                    type="numeric"
                    id="ano"
                    maxlength="2"
                    placeholder="24"
                    required
                  />
                </label>
                <label for="cvv"
                  >CVV
                  <input
                    class="cvv"
                    type="numeric"
                    id="cvv"
                    maxlength="3"
                    placeholder="111"
                    required
                  />
                </label>
              </div>
             <!--  <div class="texto-form">
                <label for="">
                  Salvar dados para uma compra futura
                  <input type="checkbox" />
                </label>
              </div> -->
              <input type="hidden" id="produtos" name="produtos" />
              <button class="botao-secundario" type="submit">
                Pagar com Cartao
              </button>
            </div>
          </form>
        </div>
        <div class="coluna2 container-dropshadow" id="container 2">
          <h3>Resumo da compra</h3>
          <div class="resumo-compra subtotal">
            <div class="resumo">
              <p>Subtotal</p>
              <p class="valor">R$ 2.400,00</p>
            </div>
            <div class="resumo frete">
              <p>Frete</p>
              <p class="valor">R$ <%= locals.frete %></p>
            </div>
            <div class="resumo total">
              <p>Total</p>
              <p class="valor">R$ 3.300,00</p>
            </div>
          </div>
          <h3>Seu carrinho</h3>
          <div class="produtos"></div>
        </div>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <script src="/scripts/carrinhoFluxoPagamento.js"></script>
  </body>
</html>
