<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {css: ["checkoutEndereco.css"], titulo: "checkout-endereço_E-móvel"}) %>
    <script src="/scripts/checkoutEndereco.js" defer></script>

  <body>
    <%- include("partials/header") %>
    <%- include("partials/topoPg") %>
    <main class="checkout-endereco-container">
      <h1>Checkout - Endereço</h1>
      <a href="/carrinho">Voltar para carrinho</a>
      <div class="flex-container">
        <section class="enderecos-container">
            <section class="master-section">
            <h3>Endereços usados anteriormente</h3>
            <ul class="erros" id="erro-selecione-endereco"></ul>
            <form id="form-select-endereco" method="post">
              <div class="menu-selecao">
                <select name="ordenacao">
                  <option value="" disabled selected>
                    Selecione um endereço salvo
                  </option>
                  <% locals.enderecos.forEach(e => { %>
                    <option value="<%= e.id %>"><%= `${e.logradouro} ${e.numero}, ${e.bairro} - ${e.cidade}` %></option>
                  <% }); %>
                </select>
              </div>
              <button
                type="submit"
                class="botao-secundario"
                form="form-select-endereco"
              >
                Escolher forma de pagamento
              </button>
            </form>
          </section>
          <section class="master-section-novo">
            <h3>Adicione um novo endereço</h3>
            <ul class="erros" id="erros-novo-endereco"></ul>
            <form action="/clientes/endereco/criar" method="post" id="form-novo-endereco">
              <!-- <div>
                <label for="nome">Nome:</label>
                <input
                  type="text"
                  id="nome"
                  name="nome"
                  placeholder="Endereço casa"
                />
              </div> -->
              <div>
                <label for="cep">CEP:</label>
                <input
                  type="text"
                  id="cep"
                  name="cep"
                  placeholder="CEP"
                  maxlength="9"
                  required
                />
              </div>
              <div>
                <label for="logradouro">Endereço:</label>
                <input
                  type="text"
                  id="logradouro"
                  name="logradouro"
                  placeholder="Endereço"
                  required
                />
              </div>
              <div>
                <label for="numero">Número: </label>
                <input
                  type="text"
                  id="numero"
                  name="numero"
                  placeholder="Número"
                  required
                />
              </div>
              <div>
                <label for="complemento">Complemento:</label>
                <input
                  type="text"
                  placeholder="Apartamento, suíte, etc (opcional)"
                  id="complemento"
                  name="complemento"
                />
              </div>
              <div>
                <label for="bairro">Bairro:</label>
                <input
                  type="text"
                  placeholder="Seu bairro"
                  id="bairro"
                  name="bairro"
                  required
                />
              </div>
              <div class="CidadeEstado">
                <div>
                  <label for="cidade">Cidade:</label>
                  <input
                    type="text"
                    name="cidade"
                    id="cidade"
                    placeholder="Cidade"
                    required
                  />
                </div>
                <div>
                  <label for="estado">Estado:</label>
                  <input
                    type="text"
                    name="estado"
                    id="estado"
                    placeholder="Estado"
                    required
                    maxlength="2"
                  />
                </div>
              </div>
              <button type="submit" form="form-novo-endereco" class="botao-secundario">
                Salvar e escolher forma de pagamento
              </button>
            </form>
          </section>
        </section>
        <section class="carrinho-container container-dropshadow">
          <h3>Resumo da compra</h3>
          <div class="resumo-compra">
            <div class="resumo subtotal">
              <p>Subtotal</p>
              <p class="valor">R$ 2.400,00</p>
            </div>
            <div class="resumo">
              <p>Frete</p>
              <p class="valor">Calculado na próxima página</p>
            </div>
            <div class="resumo total">
              <p>Total</p>
              <p class="valor">R$ 2.400,00</p>
            </div>
          </div>

          <h3>Seu carrinho</h3>
          <div class="produtos"></div>
        </section>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/scripts/carrinhoFluxoPagamento.js"></script>
  </body>
</html>
