<!DOCTYPE html>
  <html lang="en">
  <%- include("partials/head", {css: ["home.css"], titulo: "E-móvel"}) %>
  <body>
    <%- include("partials/header") %>
    <%- include("partials/topoPg") %>
    <div class="bodyHome">
      <section class="bannerSlide">
        <div class="slides active">
          <div class="slide">
            <h1 class="banner-text">PROMOÇÃO CLIENTES E-MÓVEL</h1>
            <a class="botao-secundario" href="/categorias/1">Veja mais</a>
          </div>
        </div>
        <div class="slides">
          <div class="slide">
            <h1 class="banner-text">ARMÁRIOS DE COZINHA SOB MEDIDA</h1>
            <a class="botao-secundario" href="/categorias/9">Veja mais</a>
          </div>
        </div>
        <div class="slides">
          <div class="slide">
            <h1 class="banner-text">CRIE SEU MÓVEL EXCLUSIVO</h1>
            <a class="botao-secundario" href="/cadastro">Veja mais</a>
          </div>
        </div>
        <div class="btn" id="prev"></div>
        <div class="btn" id="next"></div>
      </section>

      <main>
        <section class="vitrine">
          <h1>Produtos em destaque</h1>
          <div class="products-container">
            <% for (const d of destaque) { %>
            <div class="product-card">
              <a class="botao-primario" href="/produto/<%= d.produtos.id %>">
                <div class="imgDestaque">
                  <img src="<%= d.produtos.imagens[0].caminho %>" alt="Foto <%= d.produtos.nome %>"/>
              </div>
                <div class="card">
                  <h2><%= d.produtos.nome %></h2>
                  <p>R$ <%= d.produtos.preco %></p>
                  <div class="ver" href="/produto/<%= d.produtos.id %>">Veja mais</div>
                </div>
              </a>
            </div>
            <% } %>
          </div>
        </section>
      </main>

      <section class="categorias">
        <h1>Categorias</h1>
        <p>
          Escolha a categoria de móveis que deseja visualizar ou acesse todos os
          produtos disponíveis no site no botão "todos os produtos" no final da
          sessão
        </p>
        <div class="break"></div>
        <div class="icone-container">
          <% for(let i = 1; i < categorias.length; i++) { %>
          <a class="botao-icone" href="/categorias/<%= categorias[i].id %>">
            <div class="icone">
              <img src="<%= categorias[i].caminho %>" alt="Ícone <%= categorias[i].nome %>" />
            </div>
            <h2><%= categorias[i].nome %></h2>
          </a>
          <% } %>
        </div>
        <div class="break"></div>
        <div>
          <a class="botao-secundario" href="/categorias/1"
            >Todos os produtos</a
          >
        </div>
      </section>
    </div>

    <%- include("partials/footer.ejs") %>
    <script src="/scripts/home.js"></script>
  </body>
</html>
