<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/head", {css: ["produto.css"], titulo: "Produto | E-móvel"}) %>

  <body>
    <%- include("partials/header") %>
    <%- include("partials/topoPg") %>

    <div class="modal">
      <div>
        <span class="fecha-modal">x</span>
        <span class="anterior-img">
          <img src="/img/arrow-left.svg" alt="foto anterior" />
        </span>
        <div class="img-container">
          <img src="#" />
        </div>
        <span class="proxima-img">
          <img src="/img/arrow-right.svg" alt="proxima foto" />
        </span>
      </div>
    </div>
    <main class="produto-container produto">
      <section class="img-container">
        <div class="img-vitrine-container">
            <img
            src="<%= produto.imagens[0].caminho %>"
            class="img-vitrine"
            alt="<%= produto.nome %>"
          />
        </div>
        <div class="botoes-container">
          <span class="anterior-img">
            <img src="/img/arrow-left.svg" alt="foto anterior" />
          </span>
          <span class="proxima-img">
            <img src="/img/arrow-right.svg" alt="proxima foto" />
          </span>
        </div>
        <div class="produto-images">
          <% produto.imagens.forEach(item => { %>
          <img
            src="<%= item.caminho %>"
            class="img-produto imagem-produto"
            alt="<%= produto.nome %>"
          />
          <% }); %>
        </div>
      </section>

      <section class="info-container">
        <h1 class="titulo-produto"><%= produto.nome %></h1>
        <h3 class="preco-produto">R$ <%= produto.preco %></h3>

        <p>
          <%- produto.descricao %>
        </p>

        <p class="medidas">Medidas: <%= produto.largura %> x <%= produto.profundidade %> x <%= produto.altura %> cm</p>

        <form>
          <div class="seletor-quantidade">
            <span id="btn-subtrai">-</span>
            <input
              id="quantidade"
              type="number"
              inputmode="numeric"
              value="1"
              min="1"
            />
            <span id="btn-adiciona">+</span>
          </div>
          <!-- <div class="ordenacao-container">
            <div class="menu-selecao">
              <select name="ordenacao">
               
            </select>
            </div>
          </div> -->
        </form>

        <a href="#" class="comprar botao-secundario add-cart"
          >Adicionar ao carrinho</a
        >
      </section>
    </main>

    <%- include("partials/footer") %>
    <script src="/scripts/addProdutoCarrinho.js"></script>
    <script src="/scripts/produto.js"></script>
  </body>
</html>