<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("partials/head", {css: ["statusDePedido.css"], titulo: "Status de Pedidos E-móvel" }) %>

  <body>
    <%- include("partials/header") %> <%- include("partials/topoPg") %>

    <main class="status-pedido-container">
      <h1>Pedidos de <%= cliente %></h1>
      <p class="voltar"><a href="/painelUsuario">Voltar para painel de usuário</a></p>

      <% locals.pedidos.forEach(p => { %>
        <div class="pedido container-dropshadow">
          <div class="dados-pedido">
            <div class="linha-pedido">
              <p class="titulo-campo">ID:</p>
              <p><%= p.id %></p>
            </div>
            <div class="linha-pedido">
              <p class="titulo-campo">Data do pedido:</p>
              <p>
                <% const data = new Date(p.createdAt) %>
                <% const dia = data.getDate() %>
                <% const mes = data.getMonth() %>
                <% const ano = data.getFullYear() %>
                <% const diaFormatado = dia < 10 ? `0${dia}` : dia  %>
                <% const mesFormatado = mes < 10 ? `0${mes}` : mes  %>
                <%= `${diaFormatado}/${mesFormatado}/${ano}`  %>
                </p>
            </div>
            <div class="linha-pedido">
              <p class="titulo-campo">Valor:</p>
              <p>R$ <%= p.preco %></p>
            </div>
            <div class="linha-pedido">
              <p class="titulo-campo">Status:</p>
              <p><%= p.status %></p>
            </div>
          </div>
          <div class="produtos-pedido">
            <h4>Produtos</h4>
            <% p.produtos.forEach(produto => { %>
              <a href="/produto/<%=produto.id %>" class="produto">
                <div class="img-container">
                  <img src="<%= produto.imagens[0].caminho %>" />
                </div>
                <div class="infos-produto">
                  <div class="linha-pedido">
                    <p class="titulo-campo">Nome:</p>
                    <p><%= produto.nome %></p>
                  </div>
                  <div class="linha-pedido">
                    <p class="titulo-campo">Preço Unitário:</p>
                    <p>R$ <%= produto.preco %></p>
                  </div>
                </div>
              </a>
            <% }) %>
          </div>
        </div>
      <% }) %>

    </main>

    <%- include("partials/footer") %>
    <script src="/scripts/statusDePedido.js"></script>
  </body>
</html>
